.logo{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #674188;
  }
.bg {
    --bs-bg-opacity: 1;
    background-color: #f7efe5;
}

.items{
    color: #B692C2;
}
@media (max-width :400px) {
    .mobile_form button {
        height: 40px !important; 
        width: 75px;
        margin: 2px;
        font-size: 12px !important;
        font-weight: bold;
    }
    .logo {
        font-size: 35px !important;
    }
    .navbar-nav{
        position: absolute;
        right: -10px;
        top: 10px;
    }
}

@media (max-width: 400px) {
    .image_set {
        display: flex;
        justify-content: center;
    }
    .image_set img{
        height: 200px !important;
    }
}
