{% include "header.html" %}
    <!--Header-->
    <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-light border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand fs-2 fw-light mt-3" href="/">
                            <h1 class="logo" style="font-size: 43px">
                                DebateOn
                            </h1>
                    </a>
                  

                  <div class="login" style="direction: ltr;">
                  <div  id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex; flex-direction: row; margin-top: 20px;">
                        <!--Login-->
                        <li class="nav-item mobile_form mx-2">
                            <a aria-current="page" href="{{ url_for('login') }}">
                                <button type="button" class="btn fs-5" style="color: #B692C2; border: 2px #B692C2 solid;">
                                    Login
                                </button>
                            </a>
                        </li>
                        <!--Register-->
                        <li class="nav-item mobile_form">
                            <a aria-current="page" href="{{ url_for('register') }}">
                                <button type="button" class="btn fs-5 mx-2" style="color: #B692C2; border: 2px #B692C2 solid;">
                                    Sign Up
                                </button>
                            </a>
                        </li>
                    </ul>               
                  </div>
                </div>
              </nav>

<pre style="font-size: 2.5em; height: 500px; font-weight: 1200; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: #9c79a7; margin-top: 150px; line-height: 75px;"><span style="font-size: 3em; font-weight: bold !important; position: relative; z-index: 1px;">For</span> good ideas and true innovation,
 you need human interaction, conflict,
 argument & debate.</pre>



{% include "footer.html" %}