{% include "header.html" %}
    <!--Header-->
    <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-light border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand fs-2 text-danger fw-light" href="/">
                            <h2 class="logo">
                                DebateOn
                            </h2>
                    </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--Login-->
                        <li class="nav-item ">
                            <a aria-current="page" href="{{ url_for('login') }}">
                                <button type="button" class="btn fs-5 mx-2" style="color: #B692C2; border: 1px #B692C2 solid;">
                                    Login
                                </button>
                            </a>
                        </li>
                        <!--Register-->
                        <li class="nav-item">
                            <a aria-current="page" href="{{ url_for('register') }}">
                                <button type="button" class="btn fs-5 mx-2" style="color: #B692C2;">
                                    Register
                                </button>
                            </a>
                        </li>
                    </ul>               
                  </div>
                </div>
              </nav>

{% include "footer.html" %}