{% include "header.html" %}

<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-light border-bottom">
      <div class="container-fluid">
          <a class="navbar-brand fs-2 fw-light mt-3" href="/">
                  <h1 class="logo" style="font-size: 43px">
                      DebateOn
                  </h1>
          </a>
          
          <div class="login" style="direction: ltr;">
            <div  id="navbarSupportedContent" >
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex; flex-direction: row; margin-top: 20px;">
                  <!--Register-->
                  <li class="nav-item mobile_form">
                      <a aria-current="page" href="{{ url_for('register') }}">
                          <button type="button" class="btn fs-5 mx-5" style="color: #B692C2; border: 2px #B692C2 solid;">
                              Sign Up
                          </button>
                      </a>
                  </li>
              </ul>               
            </div>
          </div>

        </div>
      </nav>

<!-- Form -->
        <div class="text-danger mx-5 mt-5 mb-5" style="margin: 55px; padding-top: 65px;">
          
          <h1 class="fw-light mb-4" style="color: #B692C2; font-size: 35px;"> <img src="../static/login.svg" alt="login image" height="50" /> Login</h1>

          <!--Flash check-->
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Warning!</strong> {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <form action="{{ url_for('login') }}" method="post">
            <div class="mb-4">
              <label for="exampleInputEmail1" class="form-label" style="color: #B692C2; font-size: 20px; font-weight:300;">Email address</label>
              <input type="email" name="email" required="required" class="form-control" placeholder="example@gmail.com" id="exampleInputEmail1" aria-describedby="emailHelp" style="background-color: #fff2fc;">
            </div>
            <div class="mb-5">
              <label for="exampleInputPassword1" class="form-label" style="color: #B692C2; font-size: 20px; font-weight:300;">Password</label>
              <input type="password" name="password" required="required" class="form-control" placeholder="password" id="exampleInputPassword1" style="background-color: #fff2fc;">
            </div>
            <button type="submit" class="btn" style="color: #B692C2; border: 2px #B692C2 solid">Submit</button>
          </form>
        </div>

{% include "footer.html" %}