{% include "header.html" %}

    <!--Header-->
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-light border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand fs-2 fw-light mt-3" href="/">
                        <h1 class="logo" style="font-size: 43px">
                            DebateOn
                        </h1>
                </a>
          
        <div class="login" style="direction: ltr;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mobile_form">
                        <button type="button" class="btn fs-5 mx-5 mt-4" style="color: #B692C2; border: 2px #B692C2 solid;" data-bs-toggle="modal" data-bs-target="#logout_button">
                            Logout
                        </button>                
                    <!-- Modal -->
                    <div class="modal fade" id="logout_button" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Conformation</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Conform your logout.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <a aria-current="page" href="{{ url_for('logout') }}">
                                    <button type="button" class="btn btn-danger" style="color: #ffffff; background-color: #B692C2; border: #B692C2;">Yes</button>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                </li>

            </ul>               
          </div>
        </div>
      </nav>

    <div class="mt-4 mb-4 p-3 bg-opacity-10 border border-start-0 rounded-end text-secondary fs-5 fw-light" style="background-color: #ede7ef;">
        Hi {{ name }} 👋 Let's Debate!
    </div>

    <!--Playground Card-->

    <div class="card mb-3" style="background-color: #f7efe5; border: #f7efe5;">
        <div class="row g-0">
          <div class="col-md-4 image_set">
            <img src="../static/Debate icon.png" class="img-fluid rounded" alt="debate image" style="height: 150px; opacity: 50%; margin: 50px;">
          </div>
          <div class="col-md-8" style="padding: 20px;">
            <div class="card-body">
              <h5 class="card-title">PlayGround</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div>
              <button type="button" class="btn" style="color: #fdfdfd; background-color: #B692C2;">Debate</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!--AI Card-->
    <div class="card mb-3" style="background-color: #f7efe5; border: #f7efe5;">
        <div class="row g-0">
          <div class="col-md-4 image_set">
            <img src="../static/AI icon.png" class="img-fluid rounded image_set" alt="debate image" style="height: 150px; margin: 50px; opacity: 50%;">
          </div>
          <div class="col-md-8" style="padding: 20px;">
            <div class="card-body">
              <h5 class="card-title">AI</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div>
              <button type="button" class="btn" style="color: #fdfdfd; background-color: #B692C2;">Debate</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!--Blog Card-->
    <div class="card mb-3" style="background-color: #f7efe5; border: #f7efe5;">
        <div class="row g-0">
          <div class="col-md-4 image_set">
            <img src="../static/Blog.png" class="img-fluid rounded" alt="debate image" style="height: 150px; opacity: 50%; margin: 50px">
          </div>
          <div class="col-md-8" style="padding: 20px;">
            <div class="card-body">
              <h5 class="card-title">Blogs</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div>
              <button type="button" class="btn" style="color: #fdfdfd; background-color: #B692C2;">Debate</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      

{% include "footer.html" %}